﻿@{
    Layout = "_Layout";
}
@model NguyenMinhDuyThong.Models.PhoneModels
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.NamePro</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="col-form-label label-primary">Price: </span>
                    <span class="monospaced">@Model.Price</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="@(string.IsNullOrEmpty(Model.CoverImageUrl)?"/images/noimage.png": ("~/Image/"+Model.CoverImageUrl))" asp-append-version="true" class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="height:200px"></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Screen: &nbsp; @Model.Screen</li>
                <li class="list-group-item">Operating System: &nbsp; @Model.OperatingSystem</li>
                <li class="list-group-item">CameraFront: &nbsp; @Model.CameraFront</li>
                <li class="list-group-item">CameraRear: &nbsp; @Model.CameraRear</li>
                <li class="list-group-item">CPU &nbsp; @Model.CPU</li>
                <li class="list-group-item">Memmory: &nbsp; @Model.Memmory</li>
                <li class="list-group-item">Battery: &nbsp; @Model.Battery</li>
            </ul>
        </div>
    </div>

</div>