﻿@model NguyenMinhDuyThong.Models.PhoneModels

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PhoneModels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePhone" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCate" class="control-label"></label>
                <input asp-for="IdCate" class="form-control" />
                <span asp-validation-for="IdCate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamePro" class="control-label"></label>
                <input asp-for="NamePro" class="form-control" />
                <span asp-validation-for="NamePro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screen" class="control-label"></label>
                <input asp-for="Screen" class="form-control" />
                <span asp-validation-for="Screen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingSystem" class="control-label"></label>
                <input asp-for="OperatingSystem" class="form-control" />
                <span asp-validation-for="OperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraFront" class="control-label"></label>
                <input asp-for="CameraFront" class="form-control" />
                <span asp-validation-for="CameraFront" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraRear" class="control-label"></label>
                <input asp-for="CameraRear" class="form-control" />
                <span asp-validation-for="CameraRear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPU" class="control-label"></label>
                <input asp-for="CPU" class="form-control" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memmory" class="control-label"></label>
                <input asp-for="Memmory" class="form-control" />
                <span asp-validation-for="Memmory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battery" class="control-label"></label>
                <input asp-for="Battery" class="form-control" />
                <span asp-validation-for="Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

