﻿@model NguyenMinhDuyThong.Models.PhoneModels

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhoneModels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraFront)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraFront)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraRear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraRear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memmory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memmory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/Image/"+Model.CoverImageUrl)" asp-append-version="true" class="img-thumbnail" />
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="IdPro" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
