﻿@model IEnumerable<PhoneModels>
@{
    ViewData["Title"] = "Home Page";

}

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="display-4">All Phones</h3>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="@(string.IsNullOrEmpty(item.CoverImageUrl)?"/images/noimage.png": ("~/Image/"+item.CoverImageUrl))" asp-append-version="true" class="img-thumbnail" />
                        <div class="card-body">
                            <h3 class="card-title">@Html.DisplayFor(modelItem => item.NamePro)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="phone" asp-action="getphones" asp-route-id="@item.IdPro" class="btn -btn-sm btn-outline-secondary">view details</a>
                                </div>
                                <div class="btn-group">
                                    <a asp-controller="phone" asp-action="cartphones" asp-route-id="@item.IdPro" class="btn -btn-sm btn-outline-secondary">Cart</a>
                                </div>
                                <small class="text-muted"> Price @Html.DisplayFor(modelItem => item.Price)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

